<ion-app>



    <ion-content class="background" *ngIf="studentProfile">
        <div class="banner">
            <ion-row>
                <ion-col size="12">
                    <div style="text-align: center; margin: 8% 0 0 0; ">
                        <ion-text id="name-thai-tag">{{studentProfile.NAME_THAI}}</ion-text>
                    </div>
                    <div style="text-align: center; margin: 0 0 20% 0; ">
                        <ion-text class="name-std-tag">รหัส : {{studentProfile.STD_CODE}}</ion-text>
                    </div>
                </ion-col>
            </ion-row>
        </div>
        <div class="imgA1">
            <div>
                <img src="{{imageurl}}" width="25%" referrerpolicy="no-referrer"/> 
                <!-- <ion-img [src]="imageurl" width="25%"></ion-img> -->
            </div>
        </div>

        <div style="margin-top:8%; text-align:center">
            <ion-text>
                &nbsp;
            </ion-text>
        </div>

        <ion-row id="detail-student-main-tag">
            <ion-col size="12" size-sm>
                <ion-row>
                    <ion-col size="12" size-sm id="detail-student-graduate">
                        <ion-row>
                            <ion-col size="6" size-sm id="draw-line-vertical">
                                <ion-icon name="disc-outline"></ion-icon> <span style="font-weight: bold;"> &nbsp; {{studentProfile.FACULTY_NAME_THAI}}</span>
                                <br /> {{studentProfile.MAJOR_NAME_THAI}} </ion-col>
                            <ion-col size="6" size-sm>
                                <ion-icon name="disc-outline"></ion-icon> <span style="font-weight: bold;">  &nbsp; สถานะลงทะเบียน</span> <br /> {{studentProfile.STD_STATUS_DESC_THAI}}
                            </ion-col>
                        </ion-row>
                    </ion-col>

                    <ion-col size="12" size-sm id="detail-student-graduate2">
                        <ion-row>
                            <ion-col size="6" size-sm id="draw-line-vertical">สถานะ
                                <br />{{studentProfile.STD_TYPE_DESC_THAI}}</ion-col>
                            <ion-col size="6" size-sm> <a routerLink="/virtual">บัตรนักศึกษา</a> <br /> </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <ion-row id="description-message-tag">
                    <ion-col size="12">กรุณาตรวจสอบหน่วยกิตรวมทั้งหมด และเกรดเฉลี่ยนสะสม "อย่างเป็นทางการ" ได้ที่ สำนักวิชาการและทดสอบประเมินผล (สวป.)</ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-row id="activity-plate">
            <ion-col size="12" size-sm>
                <ion-row class="bar-color">
                    <ion-col size="12" size-sm>
                        <b><ion-icon name="bookmark-outline"></ion-icon>กิจกรรมที่กำลังมาถึง</b>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" size-sm>
                        <ion-list #scheduleList [hidden]="shownSessions === 0">
                            <ion-item-group *ngFor="let group of groups | slice:0:1;" [hidden]="group.hide">
                                <ion-item-divider sticky>
                                    <ion-label>
                                        {{group.time | date: 'dd/MM/yyyy'}}
                                    </ion-label>
                                </ion-item-divider>
                
                                <ion-item-sliding *ngFor="let session of group.sessions " #slidingItem [attr.track]="session.tracks[0] | lowercase " [hidden]="session.hide ">
                                    <ion-item routerLink="/app/tabs/schedule/session/{{session.id}}">
                                        <ion-label>
                                            <h3>{{session.name}}</h3>
                                            <p>
                                                {{session.timeStart | date: 'dd/MM/yyyy'}} &mdash; {{session.timeEnd | date: 'dd/MM/yyyy'}}: {{session.location}}
                                            </p>
                                        </ion-label>
                                    </ion-item>
                                    <ion-item-options>
                                        <ion-item-option color="favorite " (click)="addFavorite(slidingItem, session) " *ngIf="segment==='all' ">
                                            Favorite
                                        </ion-item-option>
                                        <ion-item-option color="danger " (click)="removeFavorite(slidingItem, session, 'Remove Favorite') " *ngIf="segment==='favorites' ">
                                            Remove
                                        </ion-item-option>
                                    </ion-item-options>
                                </ion-item-sliding>
                            </ion-item-group>
                        </ion-list>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-content>

</ion-app>