<ion-app>



    <ion-content class="background" *ngIf="studentProfile">
        <div class="banner">
            <ion-row>
                <ion-col size="12">
                    <div style="text-align: center; margin: 8% 0 0 0; ">
                        <ion-text id="name-thai-tag">{{studentProfile.NAME_THAI}}</ion-text>
                    </div>
                    <div style="text-align: center; margin: 0 0 20% 0; ">
                        <ion-text class="name-std-tag" id="stdcode-tag">รหัสนักศึกษา : {{studentProfile.STD_CODE}}</ion-text><br>
                        <ion-text class="name-email-tag" id="email-tag">อีเมล : {{studentProfile.STD_CODE}}@rumail.ru.ac.th</ion-text>
                    </div>
                </ion-col>
            </ion-row>
        </div>
        <div class="imgA1">
            <div>
                <img id="img-profile" src="{{imageurl}}" width="25%" referrerpolicy="no-referrer"/> 
                <!-- <ion-img [src]="imageurl" width="25%"></ion-img> -->
            </div>
        </div>

        <div style="margin-top:8%; text-align:center">
            <ion-text>
                &nbsp;
            </ion-text>
        </div>

        <ion-row id="detail-student-main-tag">
            <ion-col size="12" size-sm>
                <ion-row>
                    <ion-col size="12" size-sm id="detail-student-graduate">
                        <ion-row>
                            <ion-col size="6" size-sm id="draw-line-vertical">
                                <span style="font-weight: bold;" id="faculty-tag"> &nbsp; {{studentProfile.FACULTY_NAME_THAI}}</span>
                                <br /> {{studentProfile.MAJOR_NAME_THAI}} </ion-col>
                            <ion-col size="6" size-sm>
                                <span style="font-weight: bold;" id="status-tag">  &nbsp; สถานะลงทะเบียน</span> <br /> {{studentProfile.STD_STATUS_DESC_THAI}}
                            </ion-col>
                        </ion-row>
                    </ion-col>

                    <ion-col size="12" size-sm id="detail-student-graduate2">
                        <ion-row routerLink="/virtual">
                            <!-- <ion-col size="6" size-sm id="draw-line-vertical">สถานะ
                                <br />{{studentProfile.STD_TYPE_DESC_THAI}}</ion-col> -->
                                <!-- <ion-col size="6" size-sm id="draw-line-vertical"><span  style="font-weight: bold;">หน่วยกิตสะสม </span>
                                    <br />138</ion-col> -->
                            <ion-col size="6" size-sm> <a id="govirtual"  style="margin: 0; padding: 0;" ><ion-icon name="card-outline" style="font-size: 60px;" ></ion-icon></a>
                          </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <ion-row id="description-message-tag">
                    <ion-col size="12">กรุณาตรวจสอบหน่วยกิตรวมทั้งหมด และเกรดเฉลี่ยสะสม "อย่างเป็นทางการ" ได้ที่ สำนักบริการทางวิชาการและทดสอบประเมินผล (สวป.)</ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

    
    </ion-content>

</ion-app>