
ion-content.background {
    --background: url(../../../assets/img/bg.png) 0 0/100% 100% no-repeat;
}

.card {
    background-image: url(../../../assets/img/card/ID.png);
    background-size: cover;
    height: 551px;
    width: 341px;

}

.bgcolortop {
    background: rgba(49, 56, 153, 0.8);
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 4%;
}
.bgcolorbottom {
    background: rgba(255, 228, 139, 0.905);
    margin-left: 6%;
    margin-right: 4%;
}

.header::after {
    background-image: none;
}

ion-toolbar {
    opacity: 0.5;
}
