@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
  font-family: 'Kanit', sans-serif;
}

ion-toolbar {
  --background: rgb(12, 4, 133);
  }

ion-content{
  --background: url('/assets/img/bg.png') no-repeat center/cover fixed;
}

ion-list{
  padding:0px !important;
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
  --ion-background-color: transparent !important; 
}



.text-list{
  padding-left:  5% !important;
  font-size: 1rem;
  font-weight: bold;
}

.circular_image {
  width: 50%;
  height: 70%;
  border-radius: 50%;
  overflow: hidden;
  background-color: blue;
  display:flex;
  vertical-align:middle;
}

.img-profile{
  bottom: 0;
}
.txt-menu{
  position: absolute;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-bottom: 1%;
  bottom: 0;
}
