.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}
.img {
  border-radius: 150px 0px 0px 150px;
}
ion-content {
  --background: linear-gradient(#b7d9e6, #ffffff, #ffffff);
}
