<ion-content>
    <ion-header class="ion-no-border">
        <ion-toolbar>

            <ion-buttons slot="start">
                <img src="https://cdn.pixabay.com/photo/2020/07/14/13/07/icon-5404125_960_720.png" width="50" height="50" />
                <div id="title">สวัสดี ยามบ่าย</div>


                <!--<ion-menu-button></ion-menu-button>-->
            </ion-buttons>
            <ion-buttons slot="end">
                <!-- <ion-button (click)="presentPopover($event)">
                    <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                </ion-button> -->
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <div class="about-header">
        <!-- Instead of loading an image each time the select changes, use opacity to transition them -->
        <div class="about-image madison" [ngStyle]="location === 'madison' && {'opacity': '1'}"></div>
        <div class="about-image austin" [ngStyle]="location === 'austin' && {'opacity': '1'}"></div>
        <div class="about-image chicago" [ngStyle]="location === 'chicago' && {'opacity': '1'}"></div>
        <div class="about-image seattle" [ngStyle]="location === 'seattle' && {'opacity': '1'}"></div>
    </div>

    <div class="about-info">
        <h3 class="ion-padding-top ion-padding-start">กิจกรรมที่กำลังมา</h3>

        <!--
        <p class="ion-padding-start ion-padding-end">
            รับสมัครนักศึกษาใหม่ Pre-degree,ปริญญาตรี ผู้สนใจสามารถดาวน์โหลดใบสมัครหรือสอบถามรายละเอียดได้ที่ฝ่ายรับสมัคร อาคาร สวป. ชั้น 3 มหาวิทยาลัยรามคำแหง โทร.0-2310-8614 - 15, โทร.0-2310-8617 - 18, โทร.0-2310-8623 - 24, Fax. 0-2310-8628 </p> -->

        <ion-list #scheduleList [hidden]="shownSessions === 0">
            <ion-item-group *ngFor="let group of groups | slice:0:1;" [hidden]="group.hide">
                <ion-item-divider sticky>
                    <ion-label>
                        {{group.time}}
                    </ion-label>
                </ion-item-divider>

                <ion-item-sliding *ngFor="let session of group.sessions  | slice:0:1;" #slidingItem [attr.track]="session.tracks[0] | lowercase " [hidden]="session.hide ">
                    <ion-item routerLink="/app/tabs/schedule/session/{{session.id}} ">
                        <ion-label>
                            <h3>{{session.name}}</h3>
                            <p>
                                {{session.timeStart}} &mdash; {{session.timeEnd}}: {{session.location}}
                            </p>
                        </ion-label>
                    </ion-item>
                    <ion-item-options>
                        <ion-item-option color="favorite " (click)="addFavorite(slidingItem, session) " *ngIf="segment==='all' ">
                            Favorite
                        </ion-item-option>
                        <ion-item-option color="danger " (click)="removeFavorite(slidingItem, session, 'Remove Favorite') " *ngIf="segment==='favorites' ">
                            Remove
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-item-group>
        </ion-list>

        <div class="about-button ">
            <div class="home-menu-wrapper">
                <ion-row>
                    <ion-col size="6 ">
                        <div class="home-menu-items">
                            <img class="img-calendar" src="/assets/home/calendar.png" alt="">
                            <img class="img-text-calendar" src="/assets/home/text-calendar.png" alt="">
                        </div>
                    </ion-col>
                    <ion-col size="6 ">
                        <div class="home-menu-items" routerLink="/app/tabs/home/runews">
                            <img class="img-news3" src="/assets/home/news3.png" alt="">
                            <img class="img-text-news3" src="/assets/home/text-news3.png" alt="">
                        </div>
                    </ion-col>
                    <ion-col size="6 ">

                        <div class="home-menu-items">

                            <img class="img-mr30" src="/assets/home/mr30.png" alt="">
                            <img class="img-text-mr30" src="/assets/home/text-mr30.png" alt="">
                        </div>
                    </ion-col>
                    <ion-col size="6 ">
                        <div class="home-menu-items">
                            <img class="img-aboutus4" src="/assets/home/aboutus4.png" alt="">
                            <img class="img-text-aboutus4" src="/assets/home/text-aboutus4.png" alt="">
                        </div>
                    </ion-col>
                </ion-row>


            </div>
        </div>
    </div>


</ion-content>



