/*@mixin header-style() {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;

}
@mixin ul-style() {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}
@mixin font-size-style($font-size: 1rem) {
  font-size: $font-size;
}
.mr30-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  .mr30-header {
    @include header-style;
    ul {
        @include ul-style;
      li {
        margin: 0 0.5rem;
      }
    }
  }
  .mr30-course {
    @include header-style;
    ul {
        @include ul-style;
      li {

        @include font-size-style(0.7rem);
        margin: 0 0.5rem;
      }
    }
  }
}
*/

ion-fab-button {
  --background: var(--ion-color-step-150, #fff);
  --background-hover: var(--ion-color-step-200, #f2f2f2);
  --background-focused: var(--ion-color-step-250, #d9d9d9);

  --color: var(--ion-color-primary, #3880ff);
}

/*
 * Material Design uses the ripple for activated
 * so only style the iOS activated background
 */
.ios ion-fab-button {
  --background-activated: var(--ion-color-step-250, #d9d9d9);
}

$categories: (
  //m: var(--ion-color-primary),
  su: #ff0404,
  m: #fff307,
  tu: #ff78e0,
  w: #7fc676,
  th: #f69206,
  f: #46ceff,
  s: #55007d,
  tts: #d8d8d8,
  "-": #d8d8d8,
  mwf: #d8d8d8,
  m-f: #d8d8d8,
  m-s: #d8d8d8,
  "": #d8d8d8,
  navigation: #6600cc
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track='#{$track}'] ion-label {
    border-left: 2px solid $value;
    padding-left: 10px;
  }
}

// .mr30-header {
  // ul {
  //     list-style: none;
  //     padding-left: 0.5rem;
  //   li {
  //     margin: 0 0rem;
  //   }
  // }
// }

.course_header{
  color: #460202;
}

.course_header_not_found {
  color: #740000;
  font-weight: bold;
  display: flex;
  flex: 1 1 0%;
  flex-direction: inherit;
  align-items: center;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  align-content: center;
  justify-content: center;
}

